.sliderContainer {
    margin-right: 5%;
    position: relative;
    top: 90px
}
.sliderText.light{
    color: whitesmoke;
}
.sliderText.dark{
    color: whitesmoke;
}
.sliderText.refined{
    color: whitesmoke;
}
.sliderText.relaxed{
    color: whitesmoke;
}