/* Google fonts: 
All text
font-family: 'Cabin', sans-serif;
Refined header
font-family: 'Alice', serif;
Refined text
font-family: 'Raleway', sans-serif;
Relaxed
font-family: 'Pacifico', cursive;
light text
font-family: 'Chilanka', cursive; ***too casual...***
font-family: 'Source Sans Pro', sans-serif;
light
font-family: 'Nothing You Could Do', cursive;
dark header
font-family: 'Roboto Slab', serif;
dark text
font-family: 'Roboto', sans-serif;
 */
@media screen and (min-width: 576px) {
  body {
    margin: 0;
    padding: 0;
  }
}
p{
    font-size: larger;
    font-family: 'Cabin', sans-serif;
}
/* h1{
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    background-color: rgba(57, 85, 63, 0.75);
    margin-bottom: 0;
    padding: 20px;
    font-size: 46px;
}  */
h2{ 
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;                  
}   
h4{
   font-family: 'Pacifico', cursive;
}                 
li{
  font-family: 'Cabin', sans-serif;
  display: block;
  font-size: 20px;
}
/* a{
  font-family: 'Cabin', sans-serif;
  font-size:24px;
  font-weight: bold;
  color: rgb(0, 65, 0);
} */

/* #navbarNav > ul > li > a:hover{
  font-size: 21px;
}

#nav > a:hover{
  color: rgb(219, 243, 220);
  font-size: 38px;
} */
/* body{
  background-image: url('../images/bricks-459299_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
} */
.box{
  background-color: rgba(57, 85, 63, 0.75);
  text-align: center;
  font-size: 17px;
  padding: 25px;
  margin-top: 50px;
}
/* .container {
  margin-top: 15px;
  margin-bottom: 60px;
} */
#borderAdj{
  padding-bottom: 60px;
}
.card {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: transparent;
  border: none;
}
.cardContainer{
  padding: 30px;
  opacity: 0.90;
  background-color: rgba(57, 85, 63, 0.75);
  border-radius: 10px;
  background-image: url('./../images/WoodPaperBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top-right-card {
  padding: 30px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(187, 212, 187);
  color: whitesmoke;
  text-align: center;
  opacity: 0.8;
}
/* .contact-form {
  font-family: "Barlow Condensed";
  background-color: #bec8c0;
  opacity: .85;
  border: solid 4px #997756;
  border-radius: 5px;
  padding: 40px;
} */
/* .jumbotron-fluid {
  overflow: auto;
  padding-right: 0;
  padding-left: 0;
  background-color: #bec8c0;
  padding: 30px;
  border: solid 4px #997756;
  border-radius: 30px;
  margin: auto;
  margin-top: 25px;
  width: 75%;
} */

.projectContainer{
  margin: 30px
}
.projectBtns{
  bottom: 10px;
  justify-content: space-around
}
.row {
   margin-right: 0px; 
   margin-left: 0px; 
}
/* .profilePicture{
  border-radius: 50%;
  margin-right: 30px;
  float: left;
  vertical-align: middle;
  border-style: outset;
  border-color: burlywood;
  width: 215px;
} */
#errMsg{
  font-family: 'Pacifico', cursive;
  color: whitesmoke;
  background-color: rgba(57, 85, 63, 0.75);
  margin-bottom: 0;
  padding: 20px;
  font-size: 46px;
  margin-top: 100px;
}
/* .resumeFrame{
  background-image: url('../images/WebDevResume1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 20px;
  height: 450px;
  transition-delay: 1s;
}
.resumeFrame:hover{
  background-image: url('../images/WebDevResume.jpg');
  height: 450px;
  cursor: grab;
} */

#root > div > div > div > div > img{
  max-height: 450px;
}
#root > div > div > div > div{
  height: 100%;
}
#root > div > div > div > div > div > p > div > a{
  background-color:  rgba(57, 85, 63, 0.75);
  color: whitesmoke;
  margin: 15px 0px;
}
.projectBtn {
  background-color: rgba(57,85,63,.75);
  color: #f5f5f5;
  margin: 15px 0;
}
/* cool pages effect */
/* background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    /* The top layer shadow */
    /* 0 1px 1px rgba(0,0,0,0.15), */
    /* The second layer */
/* 0 10px 0 -5px #eee, */
    /* The second layer shadow */
/* 0 10px 1px -4px rgba(0,0,0,0.15), */
    /* The third layer */
/* 0 20px 0 -10px #eee, */
    /* The third layer shadow */
/* 0 20px 1px -9px rgba(0,0,0,0.15);
padding: 30px;*/ 