.profileContainer{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: auto;
    padding-bottom: 60px;
}
.profileContainer.light {
    background-image: url('../../assets/images/lightClouds.jpg');
}
.profileContainer.dark {
    background-image: url('../../assets/images/milky-way-darkSky.jpg');
}
.profileContainer.refined {
    background-image: url('../../assets/images/buildings.jpg');
}
.profileContainer.relaxed {
    background-image: url('../../assets/images/bricks-459299_1920.jpg');
}