.profileContainer{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
    padding-bottom: 60px;
}
.light {
    background-image: url('https://d3kccomi9ge1kz.cloudfront.net/lightClouds.jpg');
}
.dark {
    background-image: url('https://d3kccomi9ge1kz.cloudfront.net/milky-way-darkSky.jpg');
}
.refined {
    background-image: url('https://d3kccomi9ge1kz.cloudfront.net/buildings.jpg');
}
.relaxed {
    background-image: url('https://d3kccomi9ge1kz.cloudfront.net/bricks-459299_1920.jpg');
}